*{
  padding: 0px 0px;
  margin: 0px 0px;
  cursor: url(images/arrow2.png), crosshair;

}
a{
  background-color: #01f;
  color: #fff;
  text-decoration: none;
}
a:hover{
  font-style: italic;
  transition-delay: 3ms;
  text-decoration: none;
}

body{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  list-style-type: none;

}

img {
  height: auto;
  width: 100%;
}

.footer{
  padding: 0px 0px 15px 10px;
}


#content{
  margin: 40px 0px 0px 0px;
  width: 100%;
  padding: 5px;


}

.images{
  margin: 20px 0px 0px 0px;
}

.scroll{
  position: fixed;
  top: 0;
  background-color: #000;
  color: #fff;
  width: 100%;
}

@media (min-width: 840px) {

  .text{
    position: fixed;
    float: left;
    width: 50%;
  }
  .images{
    float: right;
    width: 50%;
    margin: -11px -10px;
  }

  .footer{
    position: fixed;
    bottom: 0;
    margin: 0px 0px -10px 0px;
  }

  #content{

    margin-top: 35px;



  }
